<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="static/jquery-3.6.0.js"></script>
    <link rel="stylesheet" type="text/css" href="static/styles.css" />

</head>
<body><br>
           <p id="demo"></p>
{{ data }}

 <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>
<script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>
 </form>
             <form action = "http://localhost:5000/" enctype = "multipart/form-data">

         <input type = "submit" name = "back" value="back">
             </form>>
</body>
</html>